<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= article.name %></title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= article.name %></h5>
      <p class="card-text"><strong>Description:</strong> <%= article.description %></p>
      <p class="card-text"><strong>Size:</strong> <%= article.size %></p>
      <p class="card-text"><strong>Color:</strong> <%= article.color %></p>
      <p class="card-text"><strong>Price:</strong> <%= article.price %> lei</p>
      <button onclick="goBack()" class="btn btn-secondary">Go Back</button>

      <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger">Delete Article</button>
    </form> 

    </div>
  </div>
</div>

<script>
    function goBack() {
        window.history.go(-1);
    }
</script>
<!-- Bootstrap JS and Popper.js (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
